* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calc {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}
#grid {
    width: 40vw;
    height: 60vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
}
#display {
    grid-area: 1/1/2/6;
    background-color: antiquewhite;
}
button {
    background-color: aquamarine;
    border: 2px solid black;
}